{% extends 'base_generic.html' %}

{% block content %}


<div class="container-fluid">
    <section class="container">
    <div class="container-page">
      <div class="col-md-6">
        <h3 class="dark-grey">Registration</h3>
  <form method="post">

    {% csrf_token %}

    {% if form.errors %}
    <p>Authentication failed. Try again</p>
    {% endif %}

      <div class="form-group col-lg-12">
        <label>Username</label>
        <input type="" name="username" class="form-control" id="" value="">
      </div>

      <div class="form-group col-lg-6">
        <label>Password</label>
        <input type="password" name="password1" class="form-control" id="" value="">
      </div>

      <div class="form-group col-lg-6">
        <label>Repeat Password</label>
        <input type="password" name="password2" class="form-control" id="" value="">
      </div>

      <div class="form-group col-lg-6">
        <label>Email Address</label>
        <input type="" name="email" class="form-control" id="" value="">
        <small style="color: green">{{ email.help_text }}</small>
      </div>
  </div>



      <div class="col-md-6">
        <h3 class="dark-grey">Terms and Conditions</h3>

<div class="well">
        <p>
          By clicking on "Register" you agree to our Terms and Conditions
        </p>
        

        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
    </section>
    </div>

    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>

    {% endfor %}
  </form>
{% endblock %}
