{% extends 'base_generic.html' %}

{% block content %}


<h3>User Settings</h3>
<h4><p>{{ user.username }} welcome to your personal Information panel.</p></h4>
<p>Here you can choose to edit your account info, change your e-mail address or apply for our free "your_choice@amibit.org" e-mail address</p>

<li><a href="{% url 'user_info' %}">User information</a></li>
<li><a href="#">Cryptocoin wallet dashboard - <b>Due to issues this feature is disabled for time being.</b></a></li>
<li><a href="">@amibit.org email</a> Soon. If you want a @amibit.org email address contact us on: info@amibit.org </li>




{% endblock %}
