{% extends "base_generic.html" %}


{% block headextra %}
    <script type="text/javascript">
        $(document).ready(function() {
             window.onload = function() {
             $("#personal_assistant_textbox").focus();
             // alert('test') if I add this line its works
             //  setting focus to a textbox which added to template page direcltly using html tag the focus() method works well
            };
        });
        </script>
    {% endblock %}



{% block content %}
{% load staticfiles %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/main.css' %} ">
  <link rel="stylesheet" href="{% static 'css/multimedia.css' %} ">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %} ">

</head>
<body>
<div id = DashboardBody class="col-sm-12">

    <label>Type your command:</label>
    <form method="POST">
      {% csrf_token %}
          <input type="text"  class="form-control" id="" value="" name="personal_assistant_textbox">

        <div class="col-sm-12">
          <button type="submit" class="navbar-btn btn-success btn pull-left" name="personal_assistant_btn">Submit</button>
          <a href="{% url 'pa_list_of_commands' %}" class="navbar-btn btn-default btn pull-right">List of commands</a>
        </div>

      </form>





  <div id = NoteContainer class="col-sm-9">
    <div class="col-sm-12">
      <a href ="{% url 'note_create' %}" class="navbar-btn btn-success btn">
        Create note
      </a>
    </div>
    {% if queryNote %}
    <div class="col-sm-12" >
      <div class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
          <div class="grid">

          {% for y in queryNote %}

          <div class="grid-item">

            <br>
            <h3><a href ="{% url 'note_detail' y.id y.note_slug %}"> {{y.note_title}}</a></h3>
              {{ y.note_text|truncatewords:6|linebreaks }}
            <li>
              {{ y.note_timestamp }}
            </li>
            <br>
            <a href ="{% url 'note_update' y.id %}" class="btn btn-default pull-left">
              Update
            </a>
            <a href ="{% url 'note_delete' y.id %}" class="btn btn-default pull-right">
              Delete
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
    {% else %}
      <p>There are no notes available. Click <a href="{% url 'note_create' %}">here</a> to add note</p>
    {% endif %}
      </div>


  <div id = LinkContainer class="col-sm-3">
    <a href ="{% url 'link_create' %}" class="navbar-btn btn-success btn" >
        Create link
    </a>
    {% if queryLink %}
      <ul>
        {% for x in queryLink %}
      <div> <!-- must be div-->
        <div id = SingleLinkContainer class="col-sm-12">
          <div id = SingleLink>
            <a href="{{x.link_url}}" target="_self" class="btn btn-primary btn-lg btn-block ">
             <span class="pull-left">{{ x.link_name }}</span>&nbsp;
            </a>
          </div>
            <a href ="{% url 'link_update' x.id %}" class="btn btn-default pull-left">
              Update
            </a>
            <a href ="{% url 'link_delete' x.id %}" class="btn btn-default pull-right">
              Delete
            </a>
        </div>
      </div>
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no links available. Click <a href="{% url 'link_create' %}">here</a> to add links</p>
      {% endif %}
  </div>
</div>
</body>
{% endblock %}
