<!doctype html>
{% extends "base_generic.html" %}
{% block content %}

{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Amibit</title>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

<body>
  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="brand-heading ">Amibit</h1>
            <p class="intro-text">A free, online, personal bookmark and notes manager.
              <br>Now with Cryptocurrency wallet value calculator.</p>
            <a href="#about" class="btn btn-circle js-scroll-trigger"><span class="glyphicon glyphicon glyphicon-plus"></span>  </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="text-center about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>About Amibit</h2>

          <p class="about-text">Welcome to your new personal bookmark and notes manager.</br>

             Amibit is made to be a replacement for a landing page of your browser. On this <a href="#">example</a> you can see what it's all about. </p>


              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"  src="https://biteable.com/watch/embed/amibit-first-1691391" allowfullscreen="true"></iframe>

              <!--  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vt1Pwfnh5pc?wmode=transparent">
              -->
                </iframe>
              </div>
            </br>

            <p class="about-text">We at Amibit are proud to say we put together one of the best programming solutions to bring you your own personal browser experience.</p>
        </div>
      </div>
    </div>


  <!-- SECTION: Description -->
    <div class="container">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">

            <img src="{% static "pics/weoffer/star.png" %}" alt="Save links"   section class="has-30padding" />

            <figure>
              <figcaption class="overlay">
                <h3>Links</h3>
                <p class="about-text">Save your links and have them on hand everywhere you go, on your PC, IOS or Android. Anywhere you have a browser!</p>
                <div class="crew-socials">

                </div>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{% static "pics/weoffer/note.png" %}" alt="Write notes" section class="has-30padding"/>

            <figure>
              <figcaption class="overlay">
                <h3>Notes</h3>
                <p class="about-text">Write down your thoughts so you can access them anytime anywhere. Save your favourite recepies, reminders and have them on the go.</p>
                <div class="crew-socials">

                </div>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{% static "pics/weoffer/mail.png" %}" alt="Send email's" section class="has-30padding"/>
            <figure>
              <figcaption class="overlay">
                <h3>Email</h3>
                <p class="about-text">Get your own free @amibit.org email*. You can even use it when registering your account right here, we don't care!</p> *To appy for a free email address please contact us.</p>
                <div class="crew-socials">

                </div>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{% static "pics/weoffer/user.png" %}" alt="Privacy" section class="has-30padding"/>
            <figure>
              <figcaption class="overlay">
                <h3>Privacy</h3>
                <p class="about-text">We at Amibit respect your privacy and will never ask you for additional info to use our services, not even your name!</p>
                <div class="crew-socials">

                </div>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
  </section>
  <!-- END SECTION: Description -->








  <!-- start using Section -->
  <section  class="start-using-section content-section text-center">
    <div class="container">
      <div class="col-lg-12 mx-auto">
        <h2>Start using Amibit</h2>
        <p>You can start using just by registering.</p>
        <a href="{% url 'register' %}" class="btn btn-default btn-lg"><b>Register</b></a></br>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="content-section text-center contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Contact Amibit</h2>
            <p class="contact-text">Feel free to send us am email on the <b>info@amibit.org</b> or on some social media pages bellow!</p>
          <ul class="list-inline ">
            <li class="list-inline-item">
              <a href="#" class="btn btn-default btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">soon: Facebook</span>
              </a>
            </li
            <li class="list-inline-item">
              <a href="https://twitter.com/Amibit?lang=en" class="btn btn-default btn-lg">
                <i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.reddit.com/r/Amibit/" class="btn btn-default btn-lg">
                <i class="fa fa-github fa-fw"></i>
                <span class="network-name">Reddit</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



</body>
{% endblock %}
