<!doctype html>
{% extends "base_generic.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<head>
  <div class="container-fluid">
  <link rel="stylesheet" href="{% static 'css/styles.css' %} ">
  <link rel="stylesheet" href="{% static 'css/main.css' %} ">
  <link rel="stylesheet" href="{% static 'css/multimedia.css' %} ">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

  <!-- SECTION: Carousel -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{% static "pics/carousel/3_dark.png" %}" alt="Pic1">
        <div class="carousel-caption d-none d-md-block">
              <h1>Built for you</h1>
              <h3>Amibit is inspired by the way you work.</h3>
              <hr class="intro-divider">
              <a href="{% url 'login' %}" class="btn btn-success" role="button">Log in</a>
              <a href="{% url 'register' %}" class="btn btn-success" role="button">Sign up</a>
          </div>
        </div>
        <div class="item">
        <img src="{% static "pics/carousel/1_dark.png" %}" alt="My image"/>
          <div class="carousel-caption d-none d-md-block">
              <h1>Better way to organise yourself</h1>
                <h3>Amibit brings you the new ways to organize your browsing.
                </h3>
              <hr class="intro-divider">
              <a href="{% url 'login' %}" class="btn btn-success" role="button">Log in</a>
              <a href="{% url 'register' %}" class="btn btn-success" role="button">Sign up</a>
            </div>
      </div>
      <div class="item">
      <img src="{% static "pics/carousel/2_dark.png" %}" alt="Pic3">
        <div class="carousel-caption d-none d-md-block">
           <h1>Place for enthusiasts</h1>
           <h3>Place where you are in control of your browser.</h3>
           <hr class="intro-divider">
           <a href="{% url 'login' %}" class="btn btn-success" role="button">Log in</a>
           <a href="{% url 'register' %}" class="btn btn-success" role="button">Sign up</a>
        </div>
   </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <!-- SECTION: Intro -->
  <section class="has-80padding" id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Amibit</h4>
        </div>
        <div class="col-md-9">
          <p1>
             Welcome to your perfect online link manager! Amibit is built to be a replacement for a page you get when you open a new tab on your browser. We at Amibit are proud to say we put together one of best programming solutions to bring you your personal broser tab. 
          </p1>
          <section class="has-25-0-25-0-padding">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vt1Pwfnh5pc?wmode=transparent">
              </iframe>
            </div>
          </section>
          <section class="has-30padding">
            <p>
              Amibit is built to be a replacement for a page you get when you open a new tab on your browser. We at Amibit are proud to say we put together one of best programming solutions to bring you your personal broser tab.
            </p>
            <p>
              Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock pour-over chambray viral VHS normcore.
            </p>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION: Intro -->
  <!-- SECTION: Stats -->
  <div class="stats has-padding-tall">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h4>Numbers</h4>
            </div>
          </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 stats-container">
          <i class="icon icon-Cup"></i>
          <div class="stats-wrapper">
            <p class="stats-number" data-stop="24">{{ num_apps }}</p>
            <p class="stats-text">Number of notes</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 stats-container">
          <i class="icon icon-Book"></i>
          <div class="stats-wrapper">
            <p class="stats-number" data-stop="341">{{ num_users }}</p>
            <p class="stats-text">Users</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 stats-container">
          <i class="icon icon-Pen"></i>
          <div class="stats-wrapper">
            <p class="stats-number" data-stop="43">43</p>
            <p class="stats-text">Links</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION: Stats -->
  <!-- SECTION: Description -->
  <section class="crew has-padding alternate-bg" id="weoffer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>We offer</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
           
            <img src="{% static "pics/weoffer/star.png" %}" alt="Save links"   section class="has-30padding" />
                
            <figure>
              <figcaption class="overlay">
                <h3>Links</h3>
                <p>Save your links and have them on hand everywhere you go, on your PC, IOS or Android. Anywhere you have a browser!</p>
                <div class="crew-socials">
            
                </div>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{% static "pics/weoffer/note.png" %}" alt="Write notes" section class="has-30padding"/>
            
            <figure>
              <figcaption class="overlay">
                <h3>Notes</h3>
                <p>Write down your thoughts so you can access them anytime anywhere. Save your favourite recepies, reminders...</p>
                <div class="crew-socials">
                  
                </div>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{% static "pics/weoffer/mail.png" %}" alt="Send email's" section class="has-30padding"/>
            <figure>
              <figcaption class="overlay">
                <h3>Email</h3>
                <p>We offer you a free @amibit.org email. You can even use it when registering your account, we don't care!</p>
                <div class="crew-socials">
                 
                </div>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="{% static "pics/weoffer/user.png" %}" alt="Privacy" section class="has-30padding"/>
            <figure>
              <figcaption class="overlay">
                <h3>Privacy</h3>
                <p>We at Amibit respect your privacy and will never ask you for additional info to use our products, not even your name!</p>
                <div class="crew-socials">
                 
                </div>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
      
  </section>
  <!-- END SECTION: Description -->

  <div class="col-md-12">
  <section class="has-30padding">
      <p>
        8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress, banjo normcore trust fund hella. Kinfolk gluten-free lo-fi quinoa.
      </p>
      <p>
        Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock pour-over chambray viral VHS normcore.
      </p>
    </section>
  </div>
</body>
{% endblock %}
