<!doctype html>
{% extends "base_generic.html" %}
{% block content %}
{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Amibit</title>
  </head>

<body>
  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <h1 class="brand-heading ">Amibit</h1>
            <p class="intro-text"><h3>Save articles, videos and stories from all over the internet.</h3>

              <h5>Read or listen without distraction, on any device.</h5>


              Track your Cryptocurrency portfolio with our Cryptocurrency tracker.</p>
            <a href="#about" class="btn btn-circle js-scroll-trigger"><span class="glyphicon glyphicon-chevron-down"></span>  </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="text-center about">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h2>Amibit</h2>

          <p class="about-text">Amibit offers use of different search engines:
            </br>Google
            </br> Duck Duck Go
</br></br>
            Best way to use Amibit is to set it up as your welcome page of on your browser.
            </br>
            Learn more   <a href="{% url 'how_to_use' %}"> How to set up</a>
            </br>
            What is Amibit about   <a href="{% url 'about' %}"> About page</a> </p>





        </div>
      </div>
    </div>


  <!-- SECTION: Description -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
            <img src="{% static "pics/weoffer/star.png" %}" alt="Save links"   section class="has-30padding" />
            <figure>
              <figcaption class="overlay">
                <h3>Links</h3>
                <p class="about-text">Save your links and have them on hand everywhere you go, on your PC, IOS or Android. You just need a browser!</p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static "pics/weoffer/note.png" %}" alt="Write notes" section class="has-30padding"/>

            <figure>
              <figcaption class="overlay">
                <h3>Notes</h3>
                <p class="about-text">Write down your notes, save your favourite recepies and have them on the go.</p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static "pics/weoffer/mail.png" %}" alt="Send email's" section class="has-30padding"/>
            <figure>
              <figcaption class="overlay">
                <h3>Email</h3>
                <p class="about-text">Get your own free @amibit.org email*. You can even use it when registering your account right here, we don't care!</p> *To appy for a free email address please contact us.</p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="{% static "pics/weoffer/user.png" %}" alt="Privacy" section class="has-30padding"/>
            <figure>
              <figcaption class="overlay">
                <h3>Privacy</h3>
                <p class="about-text">Amibit respects your privacy and will never ask you for additional info to use our services, not even your name!</p>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
  </section>
  <!-- END SECTION: Description -->

  <!-- start using Section -->
  <section  class="start-using-section content-section text-center">
    <div class="container">
      <div class="col-md-12 col-xs-12">
        <h2>Start saving to Amibit.</h2>
        <a href="{% url 'register' %}" class="btn btn-primary btn-main-blue">Sign up</a></br>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="content-section text-center contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h2>Contact</h2>
            <p class="contact-text">Contact us by email on <b>info@amibit.org</b> or on social media pages.</p>
          <ul class="list-inline ">
            <li class="list-inline-item col-md-4 col-xs-12">
              <a href="#" class="btn btn-white-blue btn-lg">
                <i class="fab fa-facebook-square"></i>
                <span class="network-name">soon: Facebook</span>
              </a>
            </li>
            <li class="list-inline-item col-md-4 col-xs-12">
              <a href="https://twitter.com/Amibit?lang=en" class="btn btn-white-blue btn-lg">
                <i class="fab fa-twitter"></i>
                <span class="network-name">Twitter</span>
              </a>
            </li>
            <li class="list-inline-item col-md-4 col-xs-12">
              <a href="https://www.reddit.com/r/Amibit/" class="btn btn-white-blue btn-lg">
                <i class="fab fa-reddit-alien"></i>
                <span class="network-name">Reddit</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



</body>
{% endblock %}
