{% extends 'base_generic.html' %}

{% block content %}
  <h2>Registration</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form_signup %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <br>
          <small style="color: green">{{ field.help_text }}</small>
        {% endif %}

      </p>
      {% endfor %}
    <button type="submit">Sign up</button>

    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>

    {% endfor %}
  </form>
{% endblock %}
