{% extends 'base_generic.html' %}

{% block content %}
  <h2>Registration</h2>
  <form method="post">
    {% csrf_token %}
  <input type="text" name="username" class="form-control" id="" value="">
  <input type="password" name="password1" class="form-control" id="" value="">
  <input type="password" name="password2" class="form-control" id="" value="">
  <input type="" name="email" class="form-control" id="" value="">

      </p>
    
    <button type="submit">Sign up</button>

    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>

    {% endfor %}
  </form>
{% endblock %}
