{% extends 'base_generic.html' %}
{% block content %}


<h4><p>Welcome {{ user.username }} to your personal cryptocoin wallet dashboard.</p></h4>


<h4><p>Your cryptocoin wallet worth: {{wallet_sum}} </p></h4>

{% if wallet_sum_per_coin %}
  {% for key, value in wallet_sum_per_coin.items %}
    Currency {{ key }}  is worth {{ value }}
  {% endfor %}
<br/>
<br/>
  {% for key, value in percent_change_1h.items %}
    Currency {{ key }}  had a change of  {{ value }} % 1 h <br/>
  {% endfor %}
  {% for key, value in percent_change_24h.items %}
    Currency {{ key }}  had a change of  {{ value }} % 24 h <br/>
  {% endfor %}
{% endif %}




  <a href ="{% url 'coinportfolio_create' %}" class="navbar-btn btn-success btn" >
    Add currency
  </a>
  {% if queryWallet %}
    <ul>
      {% for x in queryWallet %}
    <div> <!-- must be div-->
      <div id = SingleLinkContainer class="col-sm-12">
        <div id = SingleLink>
          <a href="{{x.link_url}}" target="_self" class="btn btn-primary btn-lg btn-block ">
           <span class="pull-left">Coin: {{ x.wallet_coin }}, Number: {{ x.wallet_amount }}</span>&nbsp;
          </a>
        </div>
          <a href ="{% url 'coinportfolio_update' x.id %}" class="btn btn-default pull-left">
            Change amount
          </a>
          <a href ="{% url 'coinportfolio_delete' x.id %}" class="btn btn-default pull-right">
            Delete currency
          </a>
      </div>
    </div>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no coin in your coin wallet. Click <a href="{% url 'coinportfolio_create' %}">here</a> to add coin</p>
    {% endif %}
</div>

{% endblock %}
