
@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}



/**INDEX.HTML START*/
.masthead {
  display: table;
  width: 100%;
  text-align: center;
  background: url('/static_files/pics/background/bckg2.jpeg')no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 95%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}


/**INDEX.HTML END*/

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}
/** START USING AMIBIT START*/
.start-using-section {
  color: white;
  background: url('/static_files/pics/background/header.jpg')no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*START USING AMIBIT END*/



  /*INDEX ABOUT START*/
  .about{

<<<<<<< HEAD
    padding-top: 55px;
  }



=======
    padding-top: 15px;
  }
>>>>>>> 7d03cc46e1a67a27a63185adefd36d85f060e19e
  .about .about-text {
    font-size: 22px;
  }
  }
  .contact {
  padding-top: 5px;

  }
  .contact .contact-text{
  font-weight: 400;
  font-size: 24px;

  }
  /*INDEX ABOUT END*/
