html,
body {
    height: 100%;
    margin:0px;
    padding:0px;

}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.col-xs-8{
padding-left: 0px;
padding-right: 0px;
}


.col-md-9{
padding-left: 0px;
padding-right: 0px;
}

.col-xs-4{
padding-left: 0px;
padding-right: 5px;
}

.has-25-0-25-0-padding{padding:25px 0px 25px 0px}
.has_0_20_0_0_padding{padding:0px 20px 0px 0px}

.has-125padding{padding:125px 0}
.has-80padding{padding:80px 0}
.has-50padding{padding:50px 0}
.has-30padding{padding:30px 0}

/*NAV BAR START*/
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar{
  margin-bottom: 0px;
  background-color:#ffffff;
}

.navbar.navbar-default{
/*    height: 5%*/
}

.navbar.container-fluid{
    padding-bottom: 0px;
}
.glyphicon {margin-bottom: 0px;margin-right: 10px;}


/*NAVBAR END*/


.normal-center-page {
    padding-top: 80px;
    background: url('/static_files/pics/background/bckg1.jpeg')no-repeat bottom center scroll;
    background-color: #ffffff;
    height: 95%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.normal-center-container{
opacity: 1;
background-color: #ffffff;
border-radius: 0px;
}


/*************************MAIN DASHBOARD START*/
#DashboardBody{
/**background: url('/static_files/pics/background/bckg2.jpeg')no-repeat bottom center scroll;**/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 95%
}

    /**personal_assistant START**/
    #PAContainer{
      margin-top: 15px;
      margin-bottom: 30px;
      width: 100%;
    }
    .pa-command-input{
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto
    }

    input[type="text"] {
      border-radius: 0px;
      font-size: 15px;
      height: 40px;
    }
  /**personal_assistant END**/



    /*** NOTES PART START*/
    #NoteContainer{
    margin-top: 20px;
    }
    .notes-list-container{

    }


    /* ---- .grid-item ---- */
@media (min-width: 768px) {
    .grid-item {
      float: left;
      width: 30%;
      border: 1px solid #888888;
      margin-right: 5px;
      margin-bottom: 5px;
      padding-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      background-color: #ffffff;
    }

}
@media (max-width: 768px) {
    .grid-item {
      float: left;
      width: 100%;
      border: 1px solid #888888;
      margin-right: 2px;
      margin-bottom: 2px;
      white-space: nowrap;
      overflow: hidden;
      background-color: #ffffff;
    }

}

    .dashboard-note-text{
      margin-top: 5px;
      margin-right: 5px;
      margin-left: 5px;
    }


    /*** NOTES PART END*/

    /*** LINKS PART END*/
    #LinkContainer{
      margin-top: 20px;
    }

    .links-list-container{
    }

    .single-link-container{
      width: 100%;
      margin-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      border: 1px solid #888888;
      background-color: #ffffff;
    }
    /*** LINKS PART END*/
/**DASHBOARD END*/

.note-text-input{
  width: 100%;
  height: 250px;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.note-title-input{
  width: 100%;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .password-input{
    width: 100%;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  /** HOW TO USE AMIBIT */
  .how-to-use {
    color: #ffffff;
    background-color: #000000;

  }

  .how-to-use-background1 {
    background: url('/static_files/pics/background/computer1.jpg')no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .how-to-use-background2 {
    /*background: url('/static_files/pics/background/mobile2.jpg')no-repeat   scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .how-to-list {
    padding-top: 20px;
     }
   /** HOW TO USE AMIBIT */

   .pic-background3 {
    /*background: url('/static_files/pics/background/computer1.jpg')no-repeat bottom center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }