.nomargine {
  margin-left:0;
  margin-right:0
 }

 .grid-item { width: 25%; }
 .grid-item--width2 { width: 50%; }
 



































































































