{% extends "base_generic.html" %}

{% block content %}
{% load staticfiles %}
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{% static "pics/carousel/nopic.png" %}" alt="Amibit logo" class="img-rounded img-responsive"/>

                    </div>
                    <div class="col-sm-6 col-md-8  "  >
                        <h1>
                            What?</h1>
                        <small> <i>Be in control. </i></small>
                        <p>
                          <h4>

                        </h4>

                      </div>
                    </div>





                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static "pics/carousel/nopic.png" %}" alt="Amibit picture" class="img-rounded img-responsive"/>

                        </div>
                        <div class="col-sm-6 col-md-8  "  >
                            <h3>Why?</h3>
                            <small><i> Enjoy the web.  </i></small>
                            <p>
                              <h5>

                              </h5>

                              <h3>When?</h3>
                              <small><i> Built for you.  </i></small>
                              <p>
                                <h5>

                                </h5>
                          </div>
                        </div>












                </div>
            </div>
        </div>
    </div>








</div>








{% endblock %}
