{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<div  class="how-to-use pic-background3 content-section text-center">
    <div class="container">
      <div class="col-md-12 col-xs-12">
        <h2>Amibit</h2> 
        <p>
          <div class="how-to-list text-left">    
            <h4>Amibit is a personal online bookmark and notes manager.</h4>
            <h4>Made so you should't need to adjust yourself to browsers around you.</h4>              
          </div>
        </p> 
      </br></br>
      <p>
        <h4>To get a better sence what Amibit is about watch a video below.</h4>
      </p> 
      </div>
    </div>
  </div>
<p>  
  <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"  src="https://biteable.com/watch/embed/amibit-first-1691391" allowfullscreen="true"></iframe>
  </div>
</p> 

{% endblock %}
