{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<div class="about-page">
  <div class="container">
    <div class="well well-lg">
      <div class="row">
        <div class="col-md-5">
          <img src="{% static "pics//amibitlogo2.png" %}" style="max-width: 60%; height: auto;" alt="Amibit" class="img-rounded img-responsive"/>
          <br/>

        </br>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <h2>What?</h2>
          <i>Amibit is a personal online bookmark and notes manager, now with cryprocurrency portfolio.</i>
          <br/><br/>
          <h2>Why?</h2>
          <i> To enjoy the web. Your should not need to adjust yourself to browsers around you.</i>
          <br/><br/>
          <h2>When?</h2>
          <i> All the time.  </i>
        </div>

      </div>

    </div>
  </br></br>
    <p class="about-text">We at Amibit are proud to say we put together one of the best programming solutions to bring you your own personal browser experience.</p>
    <p class="about-text">To get a sence what Amibit is about watch a video below.</p>

</br></br>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"  src="https://biteable.com/watch/embed/amibit-first-1691391" allowfullscreen="true"></iframe>
    </div>
  </div>
</div>
</br></br></br></br></br></br>
{% endblock %}
