{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<div class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-lg">
          <h2 class="text-center">Contact</h2><br />
          <div class="text-center">
            <i class="glyphicon glyphicon-map-marker"></i><cite t>  World Wide Web</cite>
            <br />
            <i class="glyphicon glyphicon-envelope"></i>  info@amibit.org
            <br />
            <i class="glyphicon glyphicon-globe"></i><a href="http://www.amibit.org">  www.amibit.org</a>
            <br /><br />


                <div class="row">


                      <p class="contact-text">Contact us by email or on some social media pages bellow!</p>
                    <ul class="list-inline ">
                      <li class="list-inline-item">
                        <a href="#" class="btn btn-default btn-lg">
                          <i class="fa fa-twitter fa-fw"></i>
                          <span class="network-name">soon: Facebook</span>
                        </a>
                      </li
                      <li class="list-inline-item">
                        <a href="https://twitter.com/Amibit?lang=en" class="btn btn-default btn-lg">
                          <i class="fa fa-twitter fa-fw"></i>
                          <span class="network-name">Twitter</span>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://www.reddit.com/r/Amibit/" class="btn btn-default btn-lg">
                          <i class="fa fa-github fa-fw"></i>
                          <span class="network-name">Reddit</span>
                        </a>
                      </li>
                    </ul>
                  </div>
  </div>



                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
