{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<div class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="well well-lg">
          <h2 class="text-center">About</h2><br />
            <i class="glyphicon glyphicon-map-marker"></i><cite t>  World Wide Web</cite>
            <br />
            <i class="glyphicon glyphicon-envelope"></i>  info@amibit.org
            <br />
            <i class="glyphicon glyphicon-globe"></i><a href="http://www.amibit.org">  www.amibit.org</a>
            <br /><br />


                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
