{% extends "base_generic.html" %}
{% block content %}
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Amibit</title>
</head>
<body>
  <div class="normal-center-page ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
          <div class="well normal-center-container">
            <h2 class="text-center">Contact</h2><br />
            <div class="text-center">
              <i class="glyphicon glyphicon-map-marker"></i><cite t>  World Wide Web</cite>
              <br />
              <i class="glyphicon glyphicon-envelope"></i>  info@amibit.org
              <br />
              <i class="glyphicon glyphicon-globe"></i><a href="http://www.amibit.org">  www.amibit.org</a>
              <br/><br/>
              <div class="row">
                <p class="contact-text">Contact us by email or on some social media pages bellow!</p>
                <ul class="list-inline ">
                  <li class="list-inline-item col-md-4 col-xs-12">
                    <a href="#" class="btn btn-white-blue"><i class="fab fa-facebook-square"></i> soon: Facebook</a>
                  <li class="list-inline-item col-md-4 col-xs-12">
                    <a href="https://twitter.com/Amibit?lang=en" class="btn btn-white-blue"><i class="fab fa-twitter"></i> Twitter</a>
                  </li>
                  <li class="list-inline-item col-md-4 col-xs-12">
                    <a href="https://www.reddit.com/r/Amibit/" class="btn btn-white-blue"><i class="fab fa-reddit-alien"></i> Reddit</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
