{% extends "base_generic.html" %}

{% block content %}

How to change the new tab page to amibit.org.
<br>
<br>
Firefox:
<br><br>
History: (skip to how-to if you want it done)<br><br>
Since Firefox 41 it's no longer possible to customize the
page shown in a new tab via changing the preference browser.newtab.url in 
about.config. Because of the fact that hijackers abused the preference in 
the past, Mozilla decided to remove it. Fortunately, by removing it, Mozilla 
also introduced a new API to bring this functionality back to life as an add-on. 
<br><br><br>
How-to:<br><br>
Click this link (this is one of many Firefox addons that allows you to place amibit.org on new tab, choosen randomly by us).
<br><br>
https://addons.mozilla.org/en-US/firefox/addon/new-tab-override/?src=search
<br><br>
Add to firefox<br>
On top left corner Firefox will ask you do you want to install. Click add.
<br><br>
On top right click the icon and you will arrive to Setting page.
<br><br>
Option should be "custom URL" already set so don't chane that.
<br><br>
For URL type : "www.amibit.org"
<br><br>
Focus - We recommend you set focus Amibit so check the box, but its entirely up to you.
<br><br>



{% endblock %}
