{% extends "base_generic.html" %}
{% block content %}
{% load static %}


<div  class="how-to-use how-to-use-background1 content-section text-center">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <h2>Amibit on Firefox Desktop</h2>
      <p><h4>Install "New Tab Override" from Firefox Add-ons</h4></p>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/new-tab-override/?src=search" class="btn btn-primary btn-main-blue">Download</a></br>   
      <div class=" how-to-list text-left">
        <p>
          <ul>
            <li><h4>Select "New tab - settings" in the top right corner of your Firefox window to open settings.</h4></li>
            <li><h4>In the settings window for OPTION select "custom URl" and for URL type in "www.amibit.org".</h4></li>
            <li><h4>We recommend that you select Focus - "Set focus to the web page instead of address bar" which will set focus to our search. </h4></li>
          </ul>
        </p> 
      </div>
    </div>
  </div>
</div>

<div  class="how-to-use how-to-use-background2 content-section text-center">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <h2>Amibit on Firefox Mobile</h2>
      <p>
        <div class="how-to-list text-left">
          <ul>
            <li><h4>Select three dots in the top right corner of your Firefox window to open Firefox menu.</h4></li>
            <li><h4>In the Firefox menu select "Settings" and then select "General".</h4></li>
            <li><h4>In the General window select "Home" and then select "Set a Homepage".</h4></li>
            <li><h4>In the new window select "custom" and type "www.amibit.org" as a address.</h4></li>
          </ul>
        </div>
      </p> 
    </div>
  </div>
</div>
 







{% endblock %}
