{% extends "base_generic.html" %}

{% block content %}

Wellcome to your Personal Assistant (PA) Command List.<br><br>
Here you will find commands for our PA as well as critical updates.<br>
If you have any suggestions for our PA please go to Contact page and write us a e-mail.
<br><br><br>
Commands:
<br><br>
1. "go "<br>
Type "go " and webpage + Press Submit or ENTER.<br>
Directly open that webpage.<br><br>
2 "goo "<br>
Type "goo " and text + Press Submit or ENTER.. <br>
Search that text in Google search engine.<br><br>

 {% endblock %}